.send-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.7em;
    border-radius: 1em;
    cursor: pointer;
    width: 100%;
    margin-top: 1em;
}

.input-text{
    background-color: white;
    color: black;
    padding: 0.7em;
    border: 1px solid #dbdbdb;
    border-style: solid;
    border-radius: 50px;
    margin-top: 1em;
    width: 90%;
}